<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentMorePopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-content class="outer-content"> -->
<ion-content padding>

  <div padding-top text-center *ngIf="username">

    <!-- <div class="ion-item2">

      <div class="ion-avatar2">
        <div>
          <button id="notification-button2">
            <div class="ion-icon">
              !!!!!!
              <img id="a" src="{{profilePiture}}" alt="avatar" (click)="updatePicture()">
            </div>
          </button>
        </div>


      </div>
    </div> -->


    <!-- https://stackoverflow.com/a/49630026/2105396 -->

    <!-- <div class="ion-item">
      <div class="ion-avatar">
        <div>
          <button id="notification-button">
            <div class="ion-icon">
              !!!
            </div>
          </button>
        </div>
      </div>
      <h2>Woody</h2>
      <p>This town ain't big enough for the two of us!</p>
      <p>3:43 pm
        <p>
    </div>
   -->



    <div *ngIf="isLoaded">
    <img [src]="_DomSanitizer.bypassSecurityTrustUrl(profilePicture)" alt="avatar" (click)="presentActionSheet()"/>
    <div *ngIf="pictureTaken">
      <button ion-button (click)="presentActionSheet()">RETAKE</button>
      <button ion-button (click)="savePicture()">SAVE</button>

    </div>
    <h2>{{currentUser.first_name}}</h2>
    </div>


    

    <ion-list inset>
      <button ion-item (click)="presentActionSheet()">Update Picture</button>
      <button ion-item (click)="changeUsername()">Change Username</button>
      <button ion-item (click)="changePassword()">Change Password</button>
      <!-- <button ion-item (click)="support()">Support</button> -->
      <button ion-item (click)="logout()">Logout</button>
    </ion-list>
  </div>

</ion-content>

