
.ios,.md,.wp{
    page-journals {

        .divForNgIf{
            margin: 0px;
            padding: 0px
        }

        ion-list {
            .item {
                padding: 0px !important;
            }
        }
    }
}
