<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Journals</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="addTxn()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-buttons>
      </ion-navbar>  
  </ion-header>
  
  
  <ion-content padding>
    <ion-segment [(ngModel)]="sectionTab">
      <ion-segment-button value="history">
        History
      </ion-segment-button>
      <ion-segment-button value="debit">
        Debit
      </ion-segment-button>
      <ion-segment-button value="ducklings">
        Credit
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Search
      </ion-segment-button>
      <ion-segment-button value="range">
        Range
      </ion-segment-button>
  
    </ion-segment>
  
  
    <!-- <ion-list>
        <ion-list-header>{{ sectionTab }}</ion-list-header>
        <ion-item *ngFor="let item of getItems(sectionTab)" (click)="itemSelected(item)">
          {{ item.name }}
          <button ion-button outline item-end>{{ item.price }}</button>
        </ion-item>
      </ion-list> -->
  
    <div [ngSwitch]="sectionTab">
      <ion-list *ngSwitchCase="'history'">
        <ion-item *ngFor="let item of txnsList" (click)="itemSelected(item)">
          <h2> {{ item.narrative }} </h2>
          <p> {{item.date}}</p>
          <ion-note item-end color="success">{{item.amount}}</ion-note>
          <!-- <div class="divForNgIf" [ngSwitch]="item.txn_type">
            <ion-note *ngSwitchCase="'I'" item-end color="success">+ {{item.amount}}</ion-note>
            <ion-note *ngSwitchCase="'E'" item-end color="danger">- {{item.amount}}</ion-note>
  
          </div> -->
        </ion-item>
  
      </ion-list>
  
      <ion-list *ngSwitchCase="'debit'">
        <ion-item *ngFor="let item of txnsList" (click)="itemSelected(item)">
          <h2> {{ item.narrative }} </h2>
          <p> {{item.date}}</p>
          <ion-note item-end color="danger">- {{item.amount}}</ion-note>
        </ion-item>
  
      </ion-list>
  
      <ion-list *ngSwitchCase="'range'">
        <!-- <ion-list no-lines padding-top> -->
        <ion-item>
          <ion-label stacked>Start Date</ion-label>
          <ion-input [(ngModel)]="startDate" placeholder="Start Date" type="date" required></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label stacked>End Date</ion-label>
          <ion-input [(ngModel)]="endDate" placeholder="End Date" type="date" required></ion-input>
        </ion-item>
  
        <button ion-button full (click)="search()" color="primary" class="login-button">Search</button>
  
        <!-- <ion-item *ngFor="let item of txnsList" (click)="itemSelected(item)">
          <h2> {{ item.narrative }} </h2>
          <p> {{item.date}}</p>
          <ion-note item-end color="danger">- {{item.amount}}</ion-note>
        </ion-item> -->
  
      </ion-list>
  
      <!-- </ion-list> -->
    </div>
  
  
    <!-- <ion-list>
      <button ion-item *ngFor="let item of txnsList" (click)="itemSelected(item)">
        <h2> {{ item.narrative }} </h2>
        <p> {{item.date}}</p>
        <ion-note item-end color="success">{{item.amount}}</ion-note>
        <div class="divForNgIf" [ngSwitch]="item.txn_type">
            <ion-note *ngSwitchCase="'I'" item-end color="success">{{item.amount}}</ion-note>
            <ion-note *ngSwitchCase="'E'" item-end color="danger">{{item.amount}}</ion-note>
           
        </div>
  
      </button>
    </ion-list> -->

    <ion-fab bottom right #fab>
      <button ion-fab (click)="addTxn()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </ion-content>