.ios,.md,.wp{
    page-forgotpassword {
      .toolbar-background{ background:transparent; border-style:none;}
        .toolbar::after,.header-md::after{ background-image:none;}
      ion-content{
        //background-color:color($colors,primary);
         background-image:url('../assets/images/bg.jpg');
         //background-size:100% auto;
      }
    //  .scroll-content { display: table; width: 100%; height: 100%; }
    //  .centerAlign { display: table-cell; vertical-align: middle; }
  
      .item{border:$border-color 1px solid !important; margin-bottom:10px;}

      .item{
        background:transparent;
        background: rgba(255, 255, 255, 0.5) !important;
        border: medium none !important;
        color:$menu_font_color; 
        //margin-bottom:10px;
        
        // border:$border-color 1px solid !important; margin-bottom:10px;
      }
      
    }
  }
  