<ion-header>
  <ion-navbar>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <div class="about-header">
    <img src="assets/images/ionic-logo-white.svg" alt="ionic logo">
  </div>

  <div padding>
    <p>Email: info@tunbor.com </p>
    <p>Phone: (+234) 7031528126</p>
    <p>Address: Mobil Road, Ilaje, Ajah, Lagos State, Nigeria</p>

    <!-- Create accordion using ion-card -->
    <ion-card>
      <ion-card-header (click)="toggleAccordion()">
        Olakunle
      </ion-card-header>

      <ion-card-content #cc>
        Lorem Isshfkdf dff this is just a text to demostrate the accordion, a sample text
      </ion-card-content>

    </ion-card>

    <ion-list>
      <ion-item *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <h3>
          {{d.title}}
          <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </h3>
        <div *ngIf="isGroupShown(i)">{{d.description}}</div>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <h3>
          Item 1
          <ion-icon icon-left [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
        </h3>
        <div>This is description of the item clicked</div>
      </ion-item>
    </ion-list>

    <ion-list class="accordion-list">
      <!-- First Level -->
      <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
        <!-- Toggle Button -->
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.name }}
        </button>

        <ion-list *ngIf="item.children && item.open" no-lines>
          <!-- Second Level -->
          <ion-list-header *ngFor="let child of item.children; let j = index" no-padding>
            <!-- Toggle Button -->
            <button ion-item (click)="toggleItem(i, j)" *ngIf="child.children" class="child" detail-none>
              <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
              <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
              {{ child.name }}
            </button>

            <!-- Direct Add Button as Fallback -->
            <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
              <h2>{{ child.name }}</h2>
              <p text-lowercase>{{ child.information }}</p>
              <button ion-button outline item-end (click)="buyItem(child)">{{ child.price }}</button>
            </ion-item>

            <ion-list *ngIf="child.children && child.open">
              <!-- Third Level -->
              <ion-item *ngFor="let item of child.children; let k = index" detail-none class="child-item" text-wrap>
                <h2>{{ item.name }}</h2>
                <p text-lowercase>{{ item.information }}</p>
                <!-- Direct Add Button -->
                <button ion-button outline item-end (click)="buyItem(item)">{{ item.price }}</button>
              </ion-item>
            </ion-list>

          </ion-list-header>
        </ion-list>

      </ion-list-header>
    </ion-list>

    <ion-list no-lines>
      <ion-item>
          <ion-icon name="locate" item-start></ion-icon> 
          <h2>Location</h2>
          <p>52Km from your current location</p>
              </ion-item>
    </ion-list>
  </div>

  <!-- <div class="map-footer">
    <div #mapCanvas id="map_canvas">

    </div>

  </div> -->
  <div #map id="map"></div>
</ion-content>